@import '../../../styles/responsive';
@import '../../../styles/appColors';

.footer_container {
  @include xs {
    width: 100%;
    padding: 50px 25px;
    justify-content: flex-start;
  }



  @include lg {
    width: 80%;
    padding: 100px 50px;
    justify-content: center;
  }
  margin: 0 auto;
  display: flex;


  flex-wrap: wrap;
  gap: 40px;


  .footer_welcome {
    @include xs {
      width: 100%;
    }
    @include md {
      width: 25%;
    }
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 20px;
  }

  .footer_company {
    @include xs {
      width: 30%;
    }

    @include md {
      width: 10%;
    }

    display: flex;
    flex-direction: column;
    gap: 20px;
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 15px;

      li {
        cursor: pointer;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 0;
          height: 2px;
          background-color: $primaryBlack;
          left: 0;
          bottom: -25%;
        }

        &:hover::after {
          width: 80%;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  .footer_contact {
    @include xs {
      width: 30%;
    }
    @include md {
      width: 25%;
    }
    display: flex;
    flex-direction: column;
    gap: 20px;

    h3 {
      font-size: 15px;
    }
  }

  .footer_other {
    @include xs {
      width: 30%;
    }

    @include md {
      width: 10%;
    }

    display: flex;
    flex-direction: column;
    gap: 20px;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 15px;

      li {
        cursor: pointer;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 0;
          height: 2px;
          background-color: $primaryBlack;
          left: 0;
          bottom: -25%;
        }
        &:hover::after {
          width: 80%;
          transition: all 0.3s ease-in-out;
        }
      }
    }

  }

}

