.yourCaseSearch_title {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  h2 {
    font-size: 40px;
    color: #306578;
  }

  .yourCaseSearch_title_bar {
    width: 30%;
    height: 4px;
    background-color: #B1D2DE;
  }
}