@import '../../styles/responsive';
@import '../../styles/appColors';

.yourCaseSearch_title {
  @include xs {
    gap: 10px;
    align-items: start;
  }
  @include sm {
    align-items: center;
    gap: 30px;
  }
  text-transform: uppercase;
  display: flex;
  flex-direction: column;



  h2 {
    @include xs {
      font-size: 25px;
    }
    @include sm {
     font-size: 40px;
    }

    color: $primaryBlue;
  }

  .yourCaseSearch_title_bar {
    width: 30%;
    height: 4px;
    background-color: #B1D2DE;
  }
}