.howItWorks_container {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;


}

.howItWorks_stepList {
  display: grid;


}