@import '../../styles/appColors';
@import '../../styles/responsive';

.form_container {
  @include xs {
    width: 100vw;
  }

  @include lg {
    width: 70vw;
  }
  background-color: rgb(255, 255, 255);
  margin: 50px auto;




  .form_nav {
    padding: 30px;
  }

  .form_nav_ul {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    list-style: none;


    li {
      @include xs {
        font-size: 15px;
      }

      @include md {
        font-size: 20px;
      }

      @include xl {
        font-size: 23px;
      }
      font-weight: bold;
      text-transform: uppercase;
      color: $primaryBlue;
      position: relative;

      &::after {
        @include xs {
          bottom: -5%;
        }

        @include lg {
          bottom: -10%;
        }
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $primaryBlue;
        left: 0;

      }

    }
  }
}

.form_container_step_box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.form_container_step_zero {
  @include xs {
    width: 90%;
  }

  @include lg {
    width: 40%;
  }
  display: flex;
  flex-direction: column;
  min-width: 330px ;
  gap: 5px;


  input {
    width: 100%;
    height: 55px;
    padding: 10px;
    font-family: inherit;
    border-color: #23568d52;
    outline: none;
    font-weight: 400;


    &:focus {
      border: 2px solid $primaryBlue;
    }
  }

  label {
    color: $primaryBlue;
    font-weight: 500;
  }
}



.form_container_actions {
  @include xs {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  @include lg {
    flex-direction: row;

  }
  display: flex;
  justify-content: center;
  gap: 20px;

  button {
    @include xs {
      width: 90%;
    }
    @include lg {
      width: 200px;
    }

    height: 55px;
    background-color: $primaryBlue;
    color: white;
    border: none;
    font-family: inherit;
    cursor: pointer;
    font-weight: bolder;

    &:nth-child(1) {
      @include xs {
        order: 2;
      }

      @include lg {
        order: 0;
      }

      background-color: white;
      color: $primaryBlue;
      border: 1px solid $primaryBlue;
    }

  }
}


.form_container_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;

  h3 {
    color: $primaryBlue;
    display: flex;
    justify-content: center;

    @include xs {
      font-size: 15px;
      padding: 10px;
    }
  }
}

.form_container_step_one {
  @include xs {
    width: 90%;
  }

  @include lg {
    width: 40%;
  }
  display: flex;
  flex-direction: column;
  min-width: 330px ;
  gap: 5px;



  input {
    width: 100%;
    height: 55px;
    padding: 10px;
    font-family: inherit;
    border-color: #23568d52;
    outline: none;
    font-weight: 400;


    &:focus {
      border: 2px solid $primaryBlue;
    }
  }

  label {
    color: $primaryBlue;
    font-weight: 500;
  }

}

.form_container_step_two_box {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .form_container_step_two {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }


  .form_container_step_two_checkbox {
    display: flex;
    gap: 5px;
    font-weight: 500;
    color: $primaryBlue;
  }

  .form_container_step_two_date {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;

    input, select {
      width: 100%;
      height: 55px;
      padding: 10px;
      font-family: inherit;
      border-color: #23568d52;
      color: #11539a;
      outline: none;
    }

    label {
      color: #23568dbe;
    }
  }
}

.form_container_step_two_radio {
  display: flex;
  gap: 5px;
  color: #23568dbe;


}

.form_container_step_two_textarea {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    color: #23568dbe;
  }

  textarea {
    resize: none;
    padding: 10px;
    font-family: inherit;
    border-color: #23568d52;
    color: #23568dd0;
    outline: none;
  }
}

.form_container_step_two_confirm {
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: #23568dbe;

  div {
    display: flex;
    gap: 10px;
  }
}

