@import '../../../styles/responsive';
@import '../../../styles/appColors';

.headContent_container {
  @include xs {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
  }

  @include sm {
   display: flex;
   justify-content: flex-start;
   height: 600px;


  }
  width: 100vw;

  background-image: url("https://images.pexels.com/photos/4427553/pexels-photo-4427553.jpeg");
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 70px;
}

.headContent_infos {
  @include xs {
    font-size: 12px;
    width: 50%;
    height: 90%;


  }
  @include sm {
    font-size: 15px;
    width: 30%;
    height: 100%;
    margin-left: 20vw;
  }
  background-color:$primaryBlue;

  display: flex;
  gap: 10px;

  min-width: 300px;
  max-width: 900px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  h2 {
    @include xs {
      font-size: 15px;
    }
    @include sm {
      font-size: 25px;
    }

    text-transform: uppercase;
    width: 80%;

  }

  p {
    width: 80%;


  }

  .headContent_action {

    width: 80%;

    button {
      @include xs {
        font-size: 12px;
      }
      @include sm {
        font-size: 15px;
      }
      padding: 10px;
      border: none;
      font-family: inherit;
      cursor: pointer;
    }
  }

}