@import '../styles/appColors';

*,::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer {
  width: 100vw;
  margin-top: auto;
  background-color: $primaryBlue ;
  color: white;

}