@import '../../../styles/appColors';


.copywrite_container {
  width: 100vw;
  height: 60px;
  color: $primaryWhite ;
  font-style: italic;
  font-size: 12px;
  background-color: $primaryMarron;
  display: flex;
  justify-content: center;
  align-items: center;
}