.copywrite_container {
  width: 100vw;
  height: 60px;
  color:#306578 ;
  font-style: italic;
  font-size: 12px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}