@import '../../styles/responsive';
@import '../../styles/appColors';

.howItWorkStep_container {
  @include xs {
    width: 100vw;
    justify-content: start;
    padding: 0;
  }

  @include md {
    justify-content: center;
    padding: 20px;
    width: 50%;
  }
  display: flex;
  align-items: center;

  gap: 10px;




}

.howItWorkStep_index {
  background-color: $primaryMarron;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.howItWorkStep_action {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: $primaryMarron;
}

.howItWorkStep_desc {
  @include xs {
    width: 100%;
  }
  @include md {
    width: 60%;
  }

}

.howItWorkStep_right {
  display: flex;
  flex-direction: column;
  width: 70%;


}

