@import '../../../styles/responsive';
@import '../../../styles/appColors';


.topBar {
  width: 100%;
  display: flex;
  flex-direction: column;


  .topBar_head {

    @include xs {
      display: none;
    }

    @include sm {
      display: flex;
      font-size: 12px;
      padding: 0 30px;
    }

    @include xl {
      font-size: 16px;
      padding: 0 60px;
    }
    align-items: center;
    height: 49px;
    gap: 45px;
    background-color: $secondaryMarron;
    color: $primaryBlack ;


    .topBar_head_actions {
      margin-left: auto;
      display: flex;
      gap: 20px;
      align-items: center;

      .topBar_head_actions_social {
        width: 30px;
          height: 30px;
          background-color: #ffff;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          color: black;
          cursor: pointer;

          &:hover {
            color: white;
            background-color: black;
            transition: all 0.3s ease-in;
          }


      }


    }
  }

}

.topBar_body {
  @include xs {
    flex-direction: column;
    padding: 10px 30px;
    gap: 15px;
    font-size: 14px;
  }

  @include sm {
    align-items: center;
    flex-direction: row;
    padding: 0 30px;

  }

  @include xl {
    padding: 0 60px;
    font-size: 15px;
  }
  min-height: 100px;
  background-color: white;
  display: flex;

  justify-content: space-between;


  .topBar_body_logo {
    width: 100%;
    @include xs {
      display: flex;
     justify-content: space-between;
      align-items: center;
     }


     .topBar_body_logo_burger_menu {
      @include xs {
        display: block;
      }
      @include sm {
        display: none;
      }
      font-size: 25px;
      font-weight: bold;
      cursor: pointer;
     }

     p {
      border: 2px solid black;
      padding: 10px;
     align-self: flex-start;
     }


  }

  .topBar_body_contacts {
    display: flex;
    gap: 20px;

    .topBar_body_contacts_number, .topBar_body_contacts_hours {
        text-transform: uppercase;
        font-weight: bold;
        color: $primaryMarron;

        p:nth-child(1) {
          color: $primaryBlack;
        }
    }
  }

}

.topBar_actions {
  @include xs {
    display: none;
  }

  @include sm {
    display: flex;
  }
  min-height: 74px;
  border-top: 1px solid #dfe6e9;
  border-bottom: 1px solid #dfe6e9;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  background-color: white;

  .topBar_actions_left {
    display: flex;
    gap: 30px;
    list-style: none;
    font-weight: bold;


    li {
        border-right: 1px solid #dfe6e9;
        padding-right: 30px;

    }

  }

  .topBar_actions_right {
    display: flex;
    justify-content: end;
    gap: 10px;

    flex: 1;

    .topBar_actions_search {
      position: relative;

      input {
        outline: none;
        border: none;
        border-bottom: 1px solid #dfe6e9 ;
        font-family: inherit;
        padding: 10px;
      }

      .topBar_actions_search_icon {
        position: absolute;
        left: -3%;
        top: 10px;
        font-weight: bold;
      }


    }

    button {
      border: none;
      padding: 10px;


      background-color: white;
      font-family: inherit;
      cursor: pointer;
      font-weight: bold;
      color: $primaryMarron;

     &:hover {
      color: #b65200c3;
      transition: all 0.3s ease-in;
     }

      &:nth-child(3) {
        background-color: $primaryMarron;
        color: $primaryWhite;
        border-radius: 5px;

        &:hover {
          background-color: #b65200c3;
          transition: all 0.2s ease-in;
        }
      }

    }
  }
}

